* {
    box-sizing: border-box;
}

html, body {
    font-family: $ff-helvetica;
    font-size: ms(0);
    line-height: vr(ms(0));
}

div.app {
    header {
        nav {
            background: #6898CB;
            padding: 0 vr(ms(0));
            border-bottom: 6px solid #9BCBFE;

            clear: fix;

            a {
                padding: vr(ms(-3)) vr(ms(-1));
                color: white;
                display: inline-block;
                text-decoration: none;

                &.left {
                    float: left;
                }

                &.right {
                    float: right;
                }

                &:hover {
                    background: #366598;
                }
            }
        }
    }

    main {
        padding: vr(ms(0));

        clear: fix;

        header {
            padding: 0 vr(ms(0));

            h1 {
                font-size: ms(8);
                line-height: vr(ms(8));
            }
        }

        section {
            width: 50%;
            float: left;
            padding: vr(ms(0));

            article {
                background-color: #EEEEEE;
                border-radius: 5px;
                padding: vr(ms(0));

                p {
                    padding-bottom: vr(ms(0));
                }
            }
        }
    }
}
